In [1]:
def preprocessing(df,method_remove="mean_std",norm_std="norm"):
    X_num = df.select_dtypes("number")
    if method_remove == "mean_std":
        min_val = X_num.mean() - 3*X_num.std()
        max_val = X_num.mean() + 3*X_num.std()
        df = df[~((X_num > max_val)|(X_num < min_val)).any(axis=1)]
    elif method_remove == "iqr":
        q1 = X_num.quantile(0.25)
        q3 = X_num.quantile(0.75)
        iqr = q3-q1
        min_ = q1-1.5*iqr
        max_ = q3+1.5*iqr
        df = df[~((X_num > max_)|(X_num < min_)).any(axis=1)]
    elif method_remove == "z_score":
        import scipy.stats as sts
        z = np.abs(sts.zscore(X_num))
        df = df[~(X_num > z).all(axis=1)]

    ## normalization/std
    if norm_std == "norm":
        df = (df-df.min())/(df.max()-df.min())
    elif norm_std == "std":
        df = (df-df.mean())/(df.std())
    
    import plotly.express as px
    featured = df.select_dtypes("number").columns.tolist()
    fig = px.box(df,y=featured)    
    
    return df,fig

In [2]:
## import modules
import pandas as pd
from sklearn.datasets import load_iris

In [3]:
iris = load_iris()

In [4]:
X = pd.DataFrame(iris.data)
y = pd.DataFrame(iris.target)

In [5]:
X.head(3)

     0    1    2    3
0  5.1  3.5  1.4  0.2
1  4.9  3.0  1.4  0.2
2  4.7  3.2  1.3  0.2

In [6]:
df,fig = preprocessing(X)

In [7]:
df.head(3)

          0         1         2         3
0  0.222222  0.681818  0.067797  0.041667
1  0.166667  0.454545  0.067797  0.041667
2  0.111111  0.545455  0.050847  0.041667

The `figure` can be see in `fig.html`